<header>
        <div class="bg"></div>
        <div class="container">
		            <h1>Make a reservation today! </h1>

		<form >
		    I feel like eating 
		    <select>
		        <option value="1" selected>any food</option>
		        <option value="2">Indian</option>
		        <option value="3">French</option>
		        <option value="4">Japanese</option>
		        <option value="2">Italian</option>
		    </select> <br>
		    <br />in a
		    <select>
		        <option value="1" selected>standard</option>
		        <option value="2">fancy</option>
		        <option value="3">hip</option>
		        <option value="4">traditional</option>
		        <option value="2">fine</option>
		    </select>
		    restaurant
		    <select>
		        <option value="1" selected>anytime</option>
		        <option value="1">at 7 p.m.</option>
		        <option value="2">at 8 p.m.</option>
		        <option value="3">at 9 p.m.</option>
		    </select> <br> <br>
		    in <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
		      
			</form>
		<div class="#">
<%= link_to "Find a restaurant", restaurants_path, class: "btn btn-primary signup-link" %>
		    </div>
        </div>
    </header>