<h1>Reviews#show</h1>
<p>Find me in app/views/reviews/show.html.erb</p>

<%= @review.comment %>

<%= link_to 'Edit', edit_restaurant_review_path(@restuarant, @review) %>
<%= link_to 'Back', restaurants_path %>
