<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">SeatYourself</a>
    by Moin Virani
  </small>
  <nav>
    <ul>
      <li><%= link_to "Restaurant",   restaurants_path %></li>
      <li><%= link_to "Signup", root_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>


